<!doctype html>
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title><%= t 'head.title' %></title>
      <meta name="description" content="Litecoin is a cryptocurrency that enables instant payments to anyone in the world and that can be efficiently mined with consumer-grade hardware." />
      <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'/>
      
      <%= stylesheet_link_tag "style", media: "screen" %>
      <%= stylesheet_link_tag "print", media: "print" %>
      <%= javascript_include_tag  "all" %>
      
      <!--[if lt IE 9]>
      <style>#/images{width:570px;}</style>
      <![endif]-->
      <style>@media screen { #downloads { margin-top:10px; } }@media screen { .features-offset { margin-top:60px; } }</style>
  </head>
  <body>
  <div id="preload-/images" style="display: none;">
      <img src="/images/litecoin-logo-192.png" width="1" height="1" alt="Main" />
      <img src="/images/linux-main.png" width="1" height="1" alt="Main" />
      <img src="/images/linux-send.png" width="1" height="1" alt="Send" />
      <img src="/images/linux-receive.png" width="1" height="1" alt="Receive" />
      <img src="/images/linux-transactions.png" width="1" height="1" alt="Transactions" />
      <img src="/images/tooltip.png" width="1" height="1" alt="tooltip" />
  </div>

  <div id="pager">
      <div id="header" style='overflow:visible;'>
        <div id="language">
          <a href='/'>English</a> &nbsp;&nbsp;
          <a href='/fr/'>Français</a> &nbsp;&nbsp;
          <a href='/es/'>Español</a> &nbsp;&nbsp;
          <a href='/pt/'>Português</a> &nbsp;&nbsp;
          <a href='/it/'>Italiano</a> &nbsp;&nbsp;
          <a href='/de/'>Deutsch</a> &nbsp;&nbsp;
          <a href='/nl/'>Nederlands</a> &nbsp;&nbsp;
          <a href='/el/'>Ελληνικά</a> &nbsp;&nbsp;
          <a href='/ru/'>Русский</a> &nbsp;&nbsp;
          <a href='/zh_HANS/'>中文</a> &nbsp;&nbsp;
          <a href='/zh_HANT/'>繁體中文</a> &nbsp;&nbsp;
          <a href='/ja/'>日本語</a> &nbsp;&nbsp;
        </div>
        <div class="alignleft"><img src="/images/litecoin-logo-192.png" class="logo" alt="Litecoin Logo"/></div>
        <div class="alignright" style='margin-top:8px;'>
              <a id='gplus-image' href="https://plus.google.com/104307324656397909502/posts" target="_blank"><img class='pulse' src="/images/google-40px.png" onmouseover="this.src='/images/google-over-40px.png'" onmouseout="this.src='/images/google-40px.png'" title="Google Plus" height="40" width="40" alt="Google Plus"/></a>
              <a id='twitter-image' href="http://twitter.com/litecoinproject" target="_blank"><img class='pulse' src="/images/twitter-over-40px.png" xonmouseover="this.src='/images/twitter-over-40px.png'" xonmouseout="this.src='/images/twitter-40px.png'" title="Litecoin Twitters" height="40" width="40" alt="Twitter"/></a>
              <a href="https://litecointalk.org" target="_blank"><img class='pulse hint' src="/images/forum-40px.png" onmouseover="this.src='/images/forum-over-40px.png'" onmouseout="this.src='/images/forum-40px.png'" title="LitecoinTalk Forum" height="40" width="40" alt="Forum Thread"/></a>
           </div>
           <div id='gplus-wrapper'>
              <div id='litecoin-gplus' style='visibility:hidden;opacity:0;'>
                  <div class="g-page litecoin-gplus" data-href="https://plus.google.com/104307324656397909502" data-rel="publisher"></div>
              </div>
              <script type="text/javascript">
                (function() {
                  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                  po.src = 'https://apis.google.com/js/platform.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
              </script>
           </div>
          <div id='twitter-wrapper'>
              <div id='litecoin-twitter' style='visibility:hidden;opacity:0;'>
                  <!-- @litecoin is out since it tweets media content, while for litecoin project neutrality is one of the main goals.
                  <div class='twitter-instance'>
                      <a class="twitter-timeline" href="https://twitter.com/litecoin" data-widget-id="407260620635918336">Tweets by @litecoin</a>
                      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                  </div>
                  -->
                  <div class='twitter-instance'>
                      <a class="twitter-timeline" href="https://twitter.com/LitecoinProject" data-widget-id="407121171159592960">Tweets by @LitecoinProject</a>
                      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                  </div>
                  <div class='twitter-instance'>
                      <a class="twitter-timeline" href="https://twitter.com/LitecoinAssoc" data-widget-id="407121640963588096">Tweets by @LitecoinAssoc</a>
                      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>                
                  </div>
              </div>
          </div>
      </div>
    
      <div class="wrapper">
          <div id="right">
              <div id="intro">
                
                      <h1><%= t 'intro.title' %></h1>
                      <h2>
                        <%= t 'intro.body_p1' %>
                        <p/>
                        <%= t 'intro.body_p2' %>
                      </h2>
                
              </div>
              <div id="downloads" class="downloads-offset">

                  <div class="download">
                      <a class="download-link" href="https://download.litecoin.org/litecoin-0.8.6.2/win32/litecoin-0.8.6.2-win32-setup.exe"><span class="download-icon"><img src="/images/icons/windows.png" alt=""/></span><span class="arrow-down"><img src="/images/arrow-down.png" alt=""/></span><%= t 'download.title' %><br/>Litecoin-Qt 0.8.6.2<br/><%= t 'download.for_windows' %></a>
                      <a class="GPG" href="https://download.litecoin.org/litecoin-0.8.6.2/win32/litecoin-0.8.6.2-win32-setup.exe.asc"><div class="GPG-text">GPG Signature</div></a>
                  </div>

                  <div class="download">
                      <a class="download-link" href="https://download.litecoin.org/litecoin-0.8.6.2/linux/litecoin-0.8.6.2-linux.tar.xz"><span class="download-icon"><img src="/images/icons/linux.png" alt="" style="margin-top:-1px;"/></span><span class="arrow-down"><img src="/images/arrow-down.png" alt=""/></span><%= t 'download.title' %><br/>Litecoin-Qt 0.8.6.2<br/><%= t 'download.for_linux' %></a>
                      <a class="GPG" href="https://download.litecoin.org/litecoin-0.8.6.2/linux/litecoin-0.8.6.2-linux.tar.xz.asc"><div class="GPG-text">GPG Signature</div></a>
                  </div>
                
                  <div class="download">
                      <a class="download-link" href="https://download.litecoin.org/litecoin-0.8.6.2/macosx/Litecoin-Qt-0.8.6.2.dmg"><span class="download-icon"><img src="/images/icons/apple.png" alt="" style="margin-top:-3px;"/></span><span class="arrow-down"><img src="/images/arrow-down.png" alt=""/></span><%= t 'download.title' %><br/>Litecoin-Qt 0.8.6.2<br/><%= t 'download.for_osx' %></a>
                      <a class="GPG" href="https://download.litecoin.org/litecoin-0.8.6.2/macosx/Litecoin-Qt-0.8.6.2.dmg.asc"><div class="GPG-text">GPG Signature</div></a>
                  </div>

                  <div class="download github">
                      <a class="download-link" href="https://github.com/litecoin-project" target="_blank"><span class="download-icon"><img src="/images/icons/github.png" alt=""/></span>
                        
                              <%= t 'download.source_on_github' %>
                        
                      </a>
                      <a class="GPG" href="http://pgp.mit.edu:11371/pks/lookup?op=vindex&search=0xC37E4723969276F5" target="_blank"><div class="GPG-text">GPG Public Key</div></a>
                  </div>
                
                      <p style="text-align:center;clear:both;">
                          <a href="http://blog.litecoin.org/2014/01/litecoin-0862-release-notes.html" target="_blank"><%= t 'download.release_notes' %></a>
                          <a href="https://litecoin.info/Upgrading_Litecoin" target="_blank"><%= t 'download.upgrade_notes' %></a>
                      </p>

              </div>

              <div class="features features-offset">
                  <div class="first-column">
                      <span class="icon"><img src="/images/icons/community.png" alt=""/></span>
                      <h1><%= t 'community.title' %></h1>
                      <h2><%= t 'community.body_html' %></h2>
                  </div>
                  <div class="second-column">
                      <span class="icon"><img src="/images/icons/resources.png" alt=""/></span>
                      <h1><%= t 'resources.title' %></h1>
                      <h2><%= t 'resources.body_html' %></h2>
                  </div>
                  <div class="third-column">
                      <span class="icon"><img src="/images/icons/opensource.png" alt=""/></span>
                      <h1><%= t 'free_oss.title' %></h1>
                      <h2><%= t 'free_oss.body_html' %></h2>
                  </div>
              </div>
              <div class="features">
                  <div class="first-column">
                      <span class="icon"><img src="/images/icons/blockchain.png" alt=""/></span>
                          <h1><%= t 'blockchain.title' %></h1>
                          <h2><%= t 'blockchain.body_html' %></h2>
                  </div>

                  <div class="second-column">
                      <span class="icon"><img src="/images/icons/lock.png" alt=""/></span>
                          <h1><%= t 'wallet_enc.title' %></h1>
                          <h2><%= t 'wallet_enc.body_html' %></h2>
                  </div>
                  <div class="third-column">
                      <span class="icon"><img src="/images/icons/rewards.png" alt=""/></span>
                          <h1><%= t 'mining_reward.title' %></h1>
                          <h2><%= t 'mining_reward.body_html' %></h2>
                  </div>
              </div>
          </div>

          <div class="features fullwidth">
            <%= t 'contact_blurb_html' %>
          </div>
        
          <div id="left">
              <div id="screen">
                  <div>
                      <img src="/images/linux-main.png" class="screen-0 screenshot" alt=""/>
                  </div>
                  <div>
                      <img src="/images/linux-main.png" class="screen-1 screenshot" style="opacity: 0.0;" alt=""/>
                  </div>
              </div>
          </div>
          </div>
      </div>
      <div id="footer">
          <div class="wrapper">
              <div class="alignleft"><%= t 'footer.copyright' %></div>
              <div class="alignright"></div>
          </div>
      </div>
  </body>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40424732-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  </html>

