<!doctype html>
<html>
	<head>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	  <title><%= t 'head.title' %></title>
	  <meta name="description" content="Litecoin is a cryptocurrency that enables instant payments to anyone in the world and that can be efficiently mined with consumer-grade hardware." />
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&amp;subset=latin,cyrillic-ext,cyrillic,latin-ext" rel="stylesheet" type="text/css"/>
	  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	  <link href="/stylesheets/style.css" rel="stylesheet">
	  <link href="/stylesheets/print.css" rel="stylesheet" media="print" />

	</head>
	<body>

		<!-- Upper Content Container -->
		<div class="container">
		  <!-- Language Selection Row -->
		  <div class="row">
		  	<div class="col-md-12 centeredList">
			  	<ul class="inline-list">
				  	<%= t 'head.select-lang' %>
		  	  </ul>
		  	</div>
		  </div>
		  <!-- Logo and Social Icons Row -->
		  <div class="row" id="headerRow">
		  	<!-- Litecoin Logo -->
		    <div class="col-xs-6">
		      <img src="/images/litecoin-logo-192.png" alt="litecoin.org" title="litecoin.org" />
		    </div>
		    <!-- Social Section -->
		    <div class="col-xs-6 hidden-xs social">
		    	<!-- Icons -->
	        <a id="gplus-image" href="https://plus.google.com/104307324656397909502/posts">
	          <img class="pulse" src="/images/google-40px.png" onmouseover="this.src='images/google-over-40px.png'" onmouseout="this.src='images/google-40px.png'" title="Google Plus" height="40" width="40" alt="Google Plus">
	        </a>
	        <a id="twitter-image" href="http://twitter.com/litecoinproject">
	          <img class="pulse" src="/images/twitter-over-40px.png" onmouseover="this.src='images/twitter-over-40px.png'" onmouseout="this.src='images/twitter-40px.png'" title="Litecoin Twitters" height="40" width="40" alt="Twitter">
	      	</a>
	        <a href="https://litecointalk.org" data-toggle="tooltip" data-animation="false" data-placement="bottom" id="forumSocial" title="LitecoinTalk Forum">
	          <img class="pulse hint" src="/images/forum-40px.png" onmouseover="this.src='images/forum-over-40px.png'" onmouseout="this.src='images/forum-40px.png'" height="40" width="40" alt="Forum Thread" data-original-title="LitecoinTalk Forum">
	        </a>
	        <!-- Google Plus Hover Box -->
	        <div id='gplus-wrapper'>
	          <div id='litecoin-gplus' style='display:none; visibility:hidden; opacity:0;'>
	            <div class="g-page litecoin-gplus" data-href="https://plus.google.com/104307324656397909502" data-rel="publisher"></div>
	          </div>
	          <script type="text/javascript">
	            (function() {
	              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	              po.src = 'https://apis.google.com/js/platform.js';
	              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	            })();
	          </script>
	       	</div>
	       	<!-- Twitter Hover Box -->
	      	<div id='twitter-wrapper'>
	          <div id='litecoin-twitter' style='display:none; visibility:hidden; opacity:0;'>
	            <div class='twitter-instance'>
	              <a class="twitter-timeline" href="https://twitter.com/LitecoinProject" data-widget-id="407121171159592960">Tweets by @LitecoinProject</a>
	              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	            </div>
	            <div class='twitter-instance'>
	              <a class="twitter-timeline" href="https://twitter.com/LitecoinAssoc" data-widget-id="407121640963588096">Tweets by @LitecoinAssoc</a>
	              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>                
	            </div>
	          </div>
	      	</div>
	      </div>  <!-- Closing div tag for Social Section -->
	      <!-- Social Media iPhone - Only shown for iPhone landscape view -->
	 	  	<div class="col-xs-6 visible-xs show-iphone-portrait">
		  	  <div>
		  	  	<a href="https://plus.google.com/app/basic/+LitecoinOrg?source=appredir">
	          <img src="/images/google-40px.png" title="Google Plus" height="40" width="40" alt="Google Plus">
		        </a>
		      </div>
		  	  <div>
		  	  	<a href="http://twitter.com/litecoinproject">
		          <img src="/images/twitter-40px.png" title="Google Plus" height="40" width="40" alt="Google Plus">
	          </a>
		      </div>
	 	  	  <div>
	 	  	    <a href="https://litecointalk.org">
		          <img src="/images/forum-40px.png" title="Google Plus" height="40" width="40" alt="Google Plus">
		        </a>
		      </div>
		  	</div>
		  </div> <!-- Closing div tag for Logo and Social Row -->
	    <!-- Social Media Row for iPhone - Only shown for iPhone landscape view -->
		  <div class="row visible-xs">
		  	<div class="col-xs-12 social-iphone">
		  	  <div>
	  	  	<a href="https://plus.google.com/app/basic/+LitecoinOrg?source=appredir">
	          <img src="/images/google-40px.png" title="Google Plus" height="40" width="40" alt="Google Plus">
	        </a>
		      </div>
		  	  <div>
		  	  	<a href="http://twitter.com/litecoinproject">
		          <img src="/images/twitter-40px.png" title="Google Plus" height="40" width="40" alt="Google Plus">
	          </a>
		      </div>
	 	  	  <div>
	 	  	    <a href="https://litecointalk.org">
		          <img src="/images/forum-40px.png" title="Google Plus" height="40" width="40" alt="Google Plus">
		        </a>
		      </div>
		  	</div>
		  </div> <!-- Closing div tag for Social Media Row for iPhone --> 
		  <!-- Main Content Section -->
		  <div class="row">
		  	<!-- Rotating Banner Image -->
		  	<div class="col-md-5">
		  	  <div class="carousel fade" data-ride="carousel">
		  			<div class="carousel-inner">
		  				<div class="item active"><img src="/images/linux-main.png" alt="Main" title="Main" /></div>
		  				<div class="item"><img src="/images/linux-send.png" alt="Send" title="Send" /></div>
		  				<div class="item"><img src="/images/linux-receive.png" alt="Receive" title="Receive" /></div>
		  				<div class="item"><img src="/images/linux-transactions.png" alt="Transactions" title="Transactions" /></div>
		  			</div>
		  	  </div>
				</div>
				<!-- Main Text Content -->
		  	<div class="col-md-7" id="mainContent">
		  	  <h3><%= t 'intro.title' %></h3>
		  	  <p><%= t 'intro.body_p1' %></p>
		      <p><%= t 'intro.body_p2' %></p>
			  	<!-- Download Buttons -->
			  	<div id="downloads">
			    	<!-- Windows Download -->
		        <div class="download">
		          <a class="download-link" href="https://download.litecoin.org/litecoin-0.8.6.2/win32/litecoin-0.8.6.2-win32-setup.exe">
		            <span class="download-icon">
		              <img src="/images/icons/windows.png" alt="" title="" />
		            </span>
		            <span class="arrow-down">
		              <img src="/images/arrow-down.png" alt="" title="" />
		            </span>
		            <%= t 'download.title' %><br/>
		            Litecoin-Qt 0.8.6.2<br/>
		            <%= t 'download.for_windows' %>
		          </a>
		          <a class="GPG" href="https://download.litecoin.org/litecoin-0.8.6.2/win32/litecoin-0.8.6.2-win32-setup.exe.asc"><div class="GPG-text">GPG Signature</div></a>
		        </div>
		        <!-- Linux Download -->
		        <div class="download">
		          <a class="download-link" href="https://download.litecoin.org/litecoin-0.8.6.2/linux/litecoin-0.8.6.2-linux.tar.xz">
		            <span class="download-icon">
		              <img src="/images/icons/linux.png" alt="" title= "" />
		            </span>
		            <span class="arrow-down">
		              <img src="/images/arrow-down.png" alt="" title="" />
		            </span>
		            <%= t 'download.title' %><br/>
		            Litecoin-Qt 0.8.6.2<br/>
		            <%= t 'download.for_linux' %>
		          </a>
		          <a class="GPG" href="https://download.litecoin.org/litecoin-0.8.6.2/linux/litecoin-0.8.6.2-linux.tar.xz.asc"><div class="GPG-text">GPG Signature</div></a>
		        </div>
		        <!-- Mac Download -->
		        <div class="download">
		          <a class="download-link" href="https://download.litecoin.org/litecoin-0.8.6.2/macosx/Litecoin-Qt-0.8.6.2.dmg">
		            <span class="download-icon">
		              <img src="/images/icons/apple.png" alt="" title="" />
		            </span>
		            <span class="arrow-down">
		              <img src="/images/arrow-down.png" alt="" title="" />
		            </span>
		            <%= t 'download.title' %><br/>
		            Litecoin-Qt 0.8.6.2<br/>
		            <%= t 'download.for_osx' %>
		          </a>
		          <a class="GPG" href="https://download.litecoin.org/litecoin-0.8.6.2/macosx/Litecoin-Qt-0.8.6.2.dmg.asc"><div class="GPG-text">GPG Signature</div></a>
		        </div>
		        <!-- Android Download -->
		        <div class="download">
		          <a class="download-link" href="https://litecointalk.org/index.php?topic=12196.0">
		            <span class="download-icon">
		              <img src="/images/icons/android.png" alt="" title="" />
		            </span>
		            <span class="arrow-down">
		              <img src="/images/arrow-down.png" alt="" title="" />
		            </span>
		            <%= t 'download.title' %><br/>
		            Litecoin for Android<br/>
		            Litecoin for BlackBerry
		          </a>
		          <a class="GPG" href="#">&nbsp;</a>
		        </div>
		        <!-- Electrum Download -->
		        <div class="download">
		          <a class="download-link" href="https://litecointalk.org/index.php?topic=15444">
		            <span class="download-icon">
		              <img src="/images/icons/electrum_icon.png" alt="" title="" />
		            </span>
		            <span class="arrow-down">
		              <img src="/images/arrow-down.png" alt="" title="" />
		            </span>
		            IN DEVELOPMENT<br/>
		            Electrum Litecoin<br/>
		            Coming Soon 
		          </a>
		          <a class="GPG" href="#">&nbsp;</a>
		        </div>
		        <!-- Source Download -->
		        <div class="download github">
		        	<div class="download-git-padding">
		            <span class="download-icon">
		              <img src="/images/icons/github.png" alt="" title="" />
		            </span>
		            <span class="arrow-down">
		              <img src="/images/arrow-down.png" alt="" title="" />
		            </span>
		            SOURCE<br/>
		            <a class="download-line-link" href="https://github.com/litecoin-project/litecoin">Litecoin-Qt Github</a>
		            <a class="download-line-link" href="https://github.com/Litecoin-Java">Android Github</a>
	            </div>
		          <a class="GPG" href="http://pgp.mit.edu:11371/pks/lookup?op=vindex&amp;search=0xC37E4723969276F5"><div class="GPG-text">GPG Public Key</div></a>
		        </div>
	          <p style="text-align:center; clear:both;">
	            <a href="http://blog.litecoin.org/2014/01/litecoin-0862-release-notes.html"><%= t 'download.release_notes' %></a>
	            <a href="https://litecoin.info/Upgrading_Litecoin"><%= t 'download.upgrade_notes' %></a>
	          </p>
	        </div> <!-- Closing div tag for Downloads Section -->
		  	</div> <!-- Closing div tag for Main Text Content Section -->
		  </div> <!-- Closing div for Main Content Row -->
		</div> <!-- Closing div for Upper Content Container -->
		<!-- Creates separator between main content and additional info -->
		<div id="separator"></div> 
		<!-- Additional Info Wrapper - Used to apply different background image -->
		<div id="additionalInfoWrapper">
			<!-- Lower Content Container -->
	    <div class="container">
	    	<!-- Row for Community, Resources, and OpenSource -->
		    <div class="row">
		    	<!-- Community -->
				  <div class="col-md-4 infoSection">
				  	<span class="icon">
				  	  <img src="/images/icons/community.png" alt="Community" title="Community" />
				  	</span>
				  	<h4 class="infoHeader"><%= t 'community.title' %></h4>
				  	<div class="infoContent">
				  		<%= t 'community.body_html' %>
	          		</div>
				  </div>
				  <!-- Resources -->
				  <div class="col-md-4 infoSection">
				  	<span class="icon">
				  	  <img src="/images/icons/resources.png" alt="Resources" title="Resources"/>
				  	</span>
				  	<h4 class="infoHeader"><%= t 'resources.title' %></h4>
				  	<div class="infoContent">
	            <%= t 'resources.body_html' %>
	        	</div>
				  </div>
				  <!-- OpenSource -->
				  <div class="col-md-4 infoSection">
				  	<span class="icon">
				  	  <img src="/images/icons/opensource.png" alt="Open-Source" title="Open-Source" />
				  	</span>
				  	<h4 class="infoHeader"><%= t 'free_oss.title' %></h4>
				  	<div class="infoContent">
	            <p><%= t 'free_oss.body_html' %></p>
	          </div>
				  </div>
				</div> <!-- Closing div tag for row -->
	    	<!-- Row for Blockchain, Encryption, and Rewards -->
				<div class="row">
					<!-- Blockchain -->
				  <div class="col-md-4 infoSection">
				  	<span class="icon">
				  	  <img src="/images/icons/blockchain.png" alt="Blockchain" title="Blockchain" />
				  	</span>
				  	<h4 class="infoHeader"><%= t 'blockchain.title' %></h4>
				  	<div class="infoContent">
				  		<%= t 'blockchain.body_html' %>
	          </div>
				  </div>
				  <!-- Encryption -->
				  <div class="col-md-4 infoSection">
				  	<span class="icon">
				  	  <img src="/images/icons/lock.png" alt="Wallet Encryption" title="Wallet Encryption" />
				  	</span>
				  	<h4 class="infoHeader"><%= t 'wallet_enc.title' %></h4>
				  	<div class="infoContent">
					 	<%= t 'wallet_enc.body_html' %>
	          </div>
				  </div>
				  <!-- Rewards -->
				  <div class="col-md-4 infoSection">
				  	<span class="icon">
				  	  <img src="/images/icons/rewards.png" alt="Rewards" title="Rewards" />
				  	</span>
				  	<h4 class="infoHeader"><%= t 'mining_reward.title' %></h4>
				  	<div class="infoContent">
	            <%= t 'mining_reward.body_html' %>
	          </div>
				  </div>
				</div> <!-- Closing div tag for row -->
				<!-- Row for Contact Info -->
				<div class="row">
			 		<div class="col-md-12">
			    	<br /><br />
			    	<p><%= t 'contact_blurb_html' %></p>
			  	</div>
				</div> <!-- Closing div tag for row -->
		  </div> <!-- Closing div tag for Lower Content Container -->
		</div> <!-- Closing div tag for Additional Info Wrapper -->
		<!-- Footer Section -->
		<div id="footer">
	    <div class="container alignedFooter">
	      <p><%= t 'footer.copyright' %></p>
	    </div>
	  </div>
	  <!-- JavaScript -->
	  <script src="/javascripts/jquery.min.js"></script>
	  <script src="/javascripts/bootstrap.min.js"></script>
	  <script src="/javascripts/custom.js"></script>
	  <script src="/javascripts/jquery.mousewheel-3.0.4.pack.js"></script>
	  <script type="text/javascript">
	    var _gaq = _gaq || [];
	    _gaq.push(['_setAccount', 'UA-40424732-1']);
	    _gaq.push(['_trackPageview']);
	    (function() {
	      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    })();
		</script>
	</body>
</html>
