---
layout: layout
---
<!-- Upper Content Container -->
<div class="container">
  <!-- Main Content Section -->
  <div class="row">
  	<!-- Rotating Banner Image -->
  	<div class="col-md-5">
  	  <div class="carousel fade" data-ride="carousel">
  			<div class="carousel-inner">
  				<div class="item active"><img src="/images/linux-main.png" alt="Main" title="Main" /></div>
  				<div class="item"><img src="/images/linux-send.png" alt="Send" title="Send" /></div>
  				<div class="item"><img src="/images/linux-receive.png" alt="Receive" title="Receive" /></div>
  				<div class="item"><img src="/images/linux-transactions.png" alt="Transactions" title="Transactions" /></div>
  			</div>
  	  </div>
  	</div>
  	<!-- Main Text Content -->
  	<div class="col-md-7" id="mainContent">
  	  <h3><%= t 'intro.title' %></h3>
  	  <p><%= t 'intro.body' %></p>
    	<!-- Download Buttons -->
    	<div id="downloads">
      	<!-- Windows Download -->
      <div class="download">
        <a class="download-link" href="https://download.litecoin.org/litecoin-<%= core_version %>/win32/litecoin-<%= core_version %>-win32-setup.exe">
          <span class="download-icon">
            <img src="/images/icons/windows.png" alt="" title="" />
          </span>
          <span class="arrow-down">
            <img src="/images/arrow-down.png" alt="" title="" />
          </span>
          <%= t 'download.title' %><br/>
          Litecoin-Qt <%= core_version %><br/>
          <%= t 'download.for_windows' %>
        </a>
        <a class="GPG" href="https://download.litecoin.org/litecoin-<%= core_version %>/win32/litecoin-<%= core_version %>-win32-setup.exe.asc"><div class="GPG-text">GPG Signature</div></a>
      </div>
      <!-- Linux Download -->
      <div class="download">
        <a class="download-link" href="https://download.litecoin.org/litecoin-<%= core_version %>/linux/litecoin-<%= core_version %>-linux.tar.xz">
          <span class="download-icon">
            <img src="/images/icons/linux.png" alt="" title= "" />
          </span>
          <span class="arrow-down">
            <img src="/images/arrow-down.png" alt="" title="" />
          </span>
          <%= t 'download.title' %><br/>
          Litecoin-Qt <%= core_version %><br/>
          <%= t 'download.for_linux' %>
        </a>
        <a class="GPG" href="https://download.litecoin.org/litecoin-<%= core_version %>/linux/litecoin-<%= core_version %>-linux.tar.xz.asc"><div class="GPG-text">GPG Signature</div></a>
      </div>
      <!-- Mac Download -->
      <div class="download">
        <a class="download-link" href="https://download.litecoin.org/litecoin-<%= core_version %>/macosx/Litecoin-Qt-<%= core_version %>.dmg">
          <span class="download-icon">
            <img src="/images/icons/apple.png" alt="" title="" />
          </span>
          <span class="arrow-down">
            <img src="/images/arrow-down.png" alt="" title="" />
          </span>
          <%= t 'download.title' %><br/>
          Litecoin-Qt <%= core_version %><br/>
          <%= t 'download.for_osx' %>
        </a>
        <a class="GPG" href="https://download.litecoin.org/litecoin-<%= core_version %>/macosx/Litecoin-Qt-<%= core_version %>.dmg.asc"><div class="GPG-text">GPG Signature</div></a>
      </div>
      <!-- Android Download -->
      <div class="download">
        <a class="download-link" href="https://litecointalk.org/index.php?topic=12196.0">
          <span class="download-icon">
            <img src="/images/icons/android.png" alt="" title="" />
          </span>
          <span class="arrow-down">
            <img src="/images/arrow-down.png" alt="" title="" />
          </span>
          <%= t 'download.title' %><br/>
          <%= t 'download.for_android' %><br/>
          <%= t 'download.for_blackberry' %>
        </a>
        <a class="GPG" href="#">&nbsp;</a>
      </div>
      <!-- Electrum Download -->
      <div class="download">
        <a class="download-link" href="https://litecointalk.org/index.php?topic=18608">
          <span class="download-icon">
            <img src="/images/icons/electrum_icon.png" alt="" title="" />
          </span>
          <span class="arrow-down">
            <img src="/images/arrow-down.png" alt="" title="" />
          </span>
          <%= t 'download.in_development' %><br/>
          Electrum Litecoin<br/>
           <%= t 'download.coming_soon' %>
        </a>
        <a class="GPG" href="#">&nbsp;</a>
      </div>
      <!-- Source Download -->
      <div class="download github">
      	<div class="download-git-padding">
          <span class="download-icon">
            <img src="/images/icons/github.png" alt="" title="" />
          </span>
          <span class="arrow-down">
            <img src="/images/arrow-down.png" alt="" title="" />
          </span>
          <%= t 'download.source' %><br/>
          <a class="download-line-link" href="https://github.com/litecoin-project/litecoin">Litecoin-Qt Github</a>
          <a class="download-line-link" href="https://github.com/Litecoin-Java">Android Github</a>
      </div>
        <a class="GPG" href="http://pgp.mit.edu:11371/pks/lookup?op=vindex&amp;search=0xC37E4723969276F5"><div class="GPG-text">GPG Public Key</div></a>
      </div>
    <p class="center clear">
      <a href="http://blog.litecoin.org/2014/04/litecoin-v0871-release-notes.html"><%= t 'download.release_notes' %></a>
      <a href="https://litecoin.info/Upgrading_Litecoin"><%= t 'download.upgrade_notes' %></a>
    </p>
  </div> <!-- Closing div tag for Downloads Section -->
  	</div> <!-- Closing div tag for Main Text Content Section -->
  </div> <!-- Closing div for Main Content Row -->
</div> <!-- Closing div for Upper Content Container -->

<%= partial "old-about" %>




