---
layout: layout
---
<!-- Upper Content Container -->
<div class="container">
  <!-- Main Content Section -->
  <div class="row">

  	<!-- Main Text Content -->
  	<div class="col-md-7" id="mainContent">
	 <br />
  	  <h3><%= t 'intro.title' %></h3>
  	  <p><%= t 'intro.body' %></p>
    	<!-- Download Buttons -->
    	<div id="downloads">
      	<!-- Windows Download -->
      <div class="download">
        <a class="download-link" href="https://download.litecoin.org/litecoin-<%= core_version %>/win/litecoin-<%= core_version %>-win64-setup.exe">
          <span class="download-icon">
            <img src="/images/icons/windows.png" alt="" title="" />
          </span>
          <span class="arrow-down">
            <img src="/images/arrow-down.png" alt="" title="" />
          </span>
          <%= t 'download.title' %><br/>
          Litecoin Core <%= core_version %><br/>
          <%= t 'download.for_windows' %>
        </a>
        <a class="ARCH" href="https://download.litecoin.org/litecoin-<%= core_version %>/win/litecoin-<%= core_version %>-win32-setup.exe">32bit</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="ARCH" href="https://download.litecoin.org/litecoin-<%= core_version %>/win/litecoin-<%= core_version %>-win64-setup.exe">64bit</a>
        <a class="GPG" href="https://download.litecoin.org/litecoin-<%= core_version %>/win/litecoin-<%= core_version %>-win-signatures.asc"><div class="GPG-text">GPG Signatures</div></a>
      </div>
      <!-- Linux Download -->
      <div class="download">
        <a class="download-link" href="https://download.litecoin.org/litecoin-<%= core_version %>/linux/litecoin-<%= core_version %>-linux64.tar.gz">
          <span class="download-icon">
            <img src="/images/icons/linux.png" alt="" title= "" />
          </span>
          <span class="arrow-down">
            <img src="/images/arrow-down.png" alt="" title="" />
          </span>
          <%= t 'download.title' %><br/>
          Litecoin Core <%= core_version %><br/>
          <%= t 'download.for_linux' %>
        </a>
        <a class="ARCH" href="https://download.litecoin.org/litecoin-<%= core_version %>/linux/litecoin-<%= core_version %>-linux32.tar.gz">32bit</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="ARCH" href="https://download.litecoin.org/litecoin-<%= core_version %>/linux/litecoin-<%= core_version %>-linux64.tar.gz">64bit</a>
        <a class="GPG" href="https://download.litecoin.org/litecoin-<%= core_version %>/linux/litecoin-<%= core_version %>-linux-signatures.asc"><div class="GPG-text">GPG Signatures</div></a>
      </div>
      <!-- Mac Download -->
      <div class="download">
        <a class="download-link" href="https://download.litecoin.org/litecoin-<%= core_version %>/osx/litecoin-<%= core_version %>-osx.dmg">
          <span class="download-icon">
            <img src="/images/icons/apple.png" alt="" title="" />
          </span>
          <span class="arrow-down">
            <img src="/images/arrow-down.png" alt="" title="" />
          </span>
          <%= t 'download.title' %><br/>
          Litecoin Core <%= core_version %><br/>
          <%= t 'download.for_osx' %>
        </a>
        <a class="GPG" href="https://download.litecoin.org/litecoin-<%= core_version %>/osx/litecoin-<%= core_version %>-osx.dmg.asc"><div class="GPG-text">GPG Signature</div></a>
      </div>
      <!-- Android Download -->
      <div class="download">
        <a class="download-link" href="https://litecointalk.org/index.php?topic=12196.0">
          <span class="download-icon">
            <img src="/images/icons/android.png" alt="" title="" />
          </span>
          <span class="arrow-down">
            <img src="/images/arrow-down.png" alt="" title="" />
          </span>
          <%= t 'download.title' %><br/>
          <%= t 'download.for_android' %><br/>
          <%= t 'download.for_blackberry' %>
        </a>
        <a class="GPG" href="#">&nbsp;</a>
      </div>
      <!-- Electrum Download -->
      <div class="download">
        <a class="download-link" href="https://electrum-ltc.org">
          <span class="download-icon">
            <img src="/images/icons/electrum_icon.png" alt="" title="" />
          </span>
          <span class="arrow-down">
            <img src="/images/arrow-down.png" alt="" title="" />
          </span>
          <%= t 'download.title' %><br/>
          Electrum Litecoin<br/>
        </a>
        <a class="GPG" href="#">&nbsp;</a>
      </div>
      <!-- Source Download -->
      <div class="download github">
      	<div class="download-git-padding">
          <span class="download-icon">
            <img src="/images/icons/github.png" alt="" title="" />
          </span>
          <span class="arrow-down">
            <img src="/images/arrow-down.png" alt="" title="" />
          </span>
          <%= t 'download.source' %><br/>
          <a class="download-line-link" href="https://github.com/litecoin-project/litecoin">Litecoin Core Github</a>
          <a class="download-line-link" href="https://github.com/Litecoin-Java">Android Github</a>
      </div>
        <a class="GPG" href="http://pgp.mit.edu:11371/pks/lookup?op=vindex&amp;search=0xC37E4723969276F5"><div class="GPG-text">GPG Public Key</div></a>
      </div>
    <p class="center clear">
      <a href="http://blog.litecoin.org/2015/01/litecoin-v0875.html"><%= t 'download.release_notes' %></a>
      <a href="https://litecoin.info/Upgrading_Litecoin"><%= t 'download.upgrade_notes' %></a>
    </p>
  </div> <!-- Closing div tag for Downloads Section -->
  	</div> <!-- Closing div tag for Main Text Content Section -->
<div class="col-md-5 twitter-wrapper">
    <a class="twitter-timeline" height="500" href="https://twitter.com/LitecoinProject" data-widget-id="566395479567896576">Litecoin.org on Twitter</a>
           <script>
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
           </script>
</div>                            


  </div> <!-- Closing div for Main Content Row -->
</div> <!-- Closing div for Upper Content Container -->

<%= partial "old-about" %>




